body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

label {
    display: block;
    margin: 10px 0;
}

#btnCommit {
    display: block; /* 让按钮变成块级元素 */
    margin: auto; /* 设置上下左右的外边距为auto，实现水平居中 */
    margin-top: 10px;
}

select, input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

#pError {
    color: red;
}

#custom-alert {
    color: red;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 2px solid red;  /* 修改边框样式和颜色 */
    border-radius: 5px;
}

#loading-spinner {
    display: none;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



@media (min-width: 600px) {
    /* Apply different styles for larger screens if needed */
    body {
        max-width: 600px;
        margin: 20px auto;
    }
}